*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

/* header start */  
header{
    background-color: antiquewhite;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    /* background-color: antiquewhite; */
}

.navmenu{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.navarchi{
    margin-left: 150px;
    margin-top: 45px;
}

.navmenu{
    margin-top: 45px;
    margin-right: 125px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* container start */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.containerhpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containreUimage{
    height: 575px;
    width: 1250px;
    border-radius: 10px;
}

.containerheader{
    margin-top: 35px;
    margin-bottom: 25px;
}
.marginleft{
    margin-left: 60px;
}

.containerheader1{
    margin-left: 25px;
}

.containerpara{
    padding: 5px;
    /* margin-bottom: 25px; */
}

.containerbutton{
    font-size:large;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: orange;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* menu start l*/
.menuvaag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.menufirst{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-left: 100px;

}

.menusecond{
    margin-left: 100px;
}

.one{
    opacity: .3;
}
.two{
    font-size: larger;
    font-weight: 1000;
}
.three{
    color: orange;
    font-size: larger;
    font-weight: 1000;
}

.menusecondpara{
    margin-top: 13px;
    margin-bottom: 15px;
}

/* feature & Experience */

.feaexp{
    display: flex;
    margin-left: 200px;margin-top: 80px;
    position: absolute;
}

.features{
    margin-right: 80px;
}

.featurehorizontal{
    border: none;
    border-left: 5px solid orange;
}

.feature-1{
    margin-bottom: 15px;   
}
.feature-1-para{
    margin-top: 5px;
}

.feature-2{
  width: 450px;
  height: 120px;
  padding: 15px;
  background-color: white;
  box-shadow: 10px 10px 10px whitesmoke;
  margin-bottom: 15px;
  padding: 0;
  border: 2px solid whitesmoke;
  padding: 10px;
}

.feature-2-header{
    margin-bottom: 8px;
}


.exprncimg{
    height: 674px;
    position: absolute;
}

.rafi{
    margin-left: 15px;
}

.feaexp{
    height: 75px;
    margin-right: 50px;
}
.feaexpbtn{
    position: relative;
    font-size:large;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: orange;
    width: 170px;
    height: 100px;
    margin-left: -40px;
    margin-top: 610px;
}

.somefacts{
    position: relative;
    margin-top: 900px;
}


.somefactspara{
    padding:15px;
    margin-left: 195px;
}

.somefatcsheader{
    margin-bottom: 15px;
}

.somefactsicons{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4,200px);
    margin-left: 300px;
    grid-column-gap: 100px;
}

.icons-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid orange;
    height: 150px;
    width: 150px;
}


/* special section start */

.architecture{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2,550px);
    margin-left: 250px;
    grid-row-gap: 15px;
}

.architectimages{
    border: none;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    object-fit: cover;
    object-position: 10px;
   
}

.greatest{
    margin-top: 100px;
    margin-left: 650px;
}

/* sponsors start */

.sponsorheader{
    margin-bottom: 10px;
    margin-left: 100px;
}
.sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.oursponsors{
    margin-top: 10px;
    margin-bottom: 45px;
}

.sponsoricon{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 55px;
}
/* use for image black&white */
.sponosorimage{
    filter: grayscale(100%);
}

.icons-1:hover{
    background-color: antiquewhite;
    transition: all 0.5s linear;
    transform: scale(1.1);
}

/* menu end */


/* footer start */
footer{
    background-color: bisque;
    height: 45px;
    width: 1200px;
    margin-left: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


/* media */
@media only screen and (max-width:688px){
    body{
        /* width: 100%; */
        /* background-color: red; */
        /* overflow-x: hidden; */
    } 
    .navarchi h2{
        margin-right: 50px;
        margin-left: -40px;
    }
    .navmenu{
        margin-left: 35px;
    }
    .navbuttun{
        width: 50px;
    }
    .containreUimage{
        width: 100%;
        object-fit: cover;
        object-position:center;
    }

    .containerbutton{
        margin-left: -15px;
    }

    .menusecond{
        width: 100%;
        margin-left: 0px;    
    }

    .menusecondpara{
        margin-left: -15px;
    }

    .three , .one{
        margin-left: -16px;
    }

    .navbar{
        flex-direction: column;  
    }







    

    .menuvaag{
        flex-direction: column;
    }

    .menuimg{
        margin-right: 60px;
    }

    .menufirst{
        grid-template-columns: repeat(1,1fr);
        margin-left: 10px;

    }

    .menusecond{
        /* margin-left: 30px; */
        margin-top: 15px;
    }

    .marginleft{
        margin-left: 0px;
    }


    .features{
        margin-right: 0px;
    }

    .feaexp{
        /* width: 100%; */
        flex-direction: column;
        margin-top: 200px;
    }
    .feature-1{
        margin-left: -190px;
    }

    .feature-2{
        margin-left: -190px;
        height: 200px;
        width: 340px;
        margin-bottom: 50px ;
    }

    .exprncimg{
        position: relative;
        height: 350px;
        width: 300px;
        margin-right: -90px -90px;
    }

    /* .somefactsicons{
        grid-template-columns: repeat(1,1fr);
        position: relative;
        margin-top: 700px;
        margin-left: -5px;
    }

    .somefactspara{
        position: relative;
        margin-top: 900px;
    } */

    .experience{
        margin-left: -185px;
    }

    .feaexpbtn{
        margin-top: -55px;
        margin-left: -30px;
    }


    .somefacts{
        /* position: relative; */
        margin-left: -170px;
        margin-top: 1850px;
    }

    .somefactspara{
        padding: 0px;
    }

    .somefatcsheader{
        margin-left: -20px;
    }

    

    .somefactsicons{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 10px;
         /* margin-left: 2px; */
        grid-column-gap: 25px
    }

    .icons-1{
        margin-left: -100px;
    }

    .greatest{
        margin-left: 0px;
        padding: 10px;
    }

    .architecture{
        grid-template-columns: repeat(1,1fr);
        
    }

    .architectimages{
        margin-left: -250px;
        margin-top: -45px;
        width: 340px;
    }

    .oursponsors{
        padding: 6px;
    }

    .sponsoricon{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        margin-left: 165px;
        grid-row-gap: 20px;
    }

    footer{
        width: 350px;
        margin-left:0px;
        padding: 18px;
    }





    /* .somefacts{
        display: none;
    } */
    /* .architecture{
        display: none;
    } */
    /* .sponsors{
        display: none;
    } */

    /* footer{
        display: none;
    } */



    
   



}
